/* Status Indicators */
.status-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    background-color: #6c757d;
}

.status-circle.active {
    background-color: #28a745;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Table text alignment */
tbody td {
    text-align: center;
}

thead th {
    text-align: center;
}

/* Existing styles... */

/* Custom styles for larger switch */
.form-switch .form-check-input {
    width: 3rem;
    height: 1.5rem;
    margin-left: -3.25rem;
}

.form-switch .form-check-input:checked {
    background-position: right center;
}

.form-switch .form-check-label {
    padding-left: 0.5rem;
}

/* Adjust the position of the switch */
.form-switch {
    padding-left: 3.5rem;
}

/* Optional: Increase the size of the label text */
.form-switch .form-check-label {
    font-size: 1.1rem;
}

.d-none {
    display: none;
}