table {
    width: 100%; /* Убедитесь, что таблица занимает всю ширину */
}

thead th {
    background-color: transparent; /* Уберите синий цвет фона */
    text-align: center; /* Выровняйте текст по центру */
}

tbody td {
    text-align: center; /* Выровняйте текст в ячейках по центру */
}

tbody tr:hover {
    background-color: #f1f1f1; /* Добавьте эффект наведения для строк */
}

.status-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

.status-circle.active {
    background-color: #28a745; /* зелёный для активного статуса */
}

.status-circle.not-active {
    background-color: #6c757d; /* серый для неактивного статуса */
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Серый цвет по умолчанию */
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white; /* Белый цвет ползунка */
    transition: .4s;
}

/* Зелёный цвет при включении */
input:checked + .slider {
    background-color: #4CAF50; /* Зелёный цвет */
}

input:focus + .slider {
    box-shadow: 0 0 1px #4CAF50; /* Зелёный цвет фокуса */
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Закруглённый слайдер */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
